@model TravelMe_webapp.Models.Place

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Place</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longtitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longtitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvgRating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvgRating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumOfPosts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumOfPosts)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
