@model IEnumerable<TravelMe_webapp.Models.Place>
@using TravelMe.Models
@{
    ViewBag.Title = "Index";
}

<h3>Manage Places</h3>

<p>
    @Html.Partial("_CreateButtonPartial")
</p>
<table class="table table-condensed table-hover">
    <tr class="table-header">
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longtitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvgRating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumOfPosts)
        </th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longtitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvgRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfPosts)
            </td>
            <td>
                @Html.Partial("_TableButtonPartial", new IndividualButtonPartial { PlaceId = item.ID })
            </td>
        </tr>
    }

</table>
